::selection {
  user-select: none;
}

.home-content {
  padding-top: 70px;
  height: calc(100vh - 254px);
}

.home-container h1 {
  margin: 0;
}

.home-content {
  display: flex;

  align-items: center;
  justify-content: space-around;
}

.home-title {
  color: var(--dark-color);
  font-size: 55px;
  font-weight: bolder;

  line-height: 48px;
  letter-spacing: -0.015em;
  margin-bottom: 40px !important;
}

.home-subtitle {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: normal;

  line-height: 23px;
  letter-spacing: -0.016em;
  margin-bottom: 40px;
}

.home-btn-order {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--light-color);
  display: flex;
  font-weight: bolder;
  font-size: 20px;
  height: 50px;
  justify-content: center;
  letter-spacing: -0.016em;
  text-decoration: none;
  text-transform: uppercase;
  width: 205px;
}

.home-btn-order:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.01);
}

.home-image svg {
  width: 80% !important;
}

.home-image:hover {
  transform: scale(1.01);
  transition: 8ms ease-in;
}

@media only screen and (max-width: 768px) {
  .home-container {
    height: auto;
    margin-bottom: 50px;
  }

  .home-content {
    flex-direction: column-reverse;
  }

  .home-title {
    font-size: 40px;
  }

  .home-subtitle {
    text-align: center;
  }

  .home-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-image {
    text-align: center;
  }

  .home-image svg {
    width: 80%;
  }
}

@media (max-height: 700px) {
  .home-container {
    height: auto;
    margin-bottom: 30px;
  }
}
